.container {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  padding: 5px;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.customRadio {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  background-color: #fff;
  position: relative;
}

.customRadioChecked {
  border-color: #155dfc !important;
  background-color: #155dfc !important;
}

.checkmark {
  height: 6px;
  width: 6px;
  background-color: white;
  border-radius: 50%;
  display: block;
}

.text {
  font-weight: 400;
  font-size: 14px;
  color: #0a0a0a;
}