.heading {
  display: flex;
  flex-direction: column;
  line-height: 75px;
}

.firstLine {
  color: white;
  line-height: 75px;
  font-size: 60px !important;
  margin: 0;
}

.secondLine {
  color: #e9d4ff;
  line-height: 75px;
  font-size: 60px !important;
  margin: 0;
}

@media (max-width: 768px) {
  .firstLine {
    font-size: 46px !important;
  }

  .secondLine {
    font-size: 46px !important;
  }
}
