.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 15%;
  background-color: #F9FAFB;
  margin: 0 auto;
  gap: 64px;
  width: 100%;

  @media (max-width: 960px) {
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: right;
}

.title {
  font-size: 36px !important;
  font-weight: 400 !important;
  color: #0A0A0A;
  margin-bottom: 8px !important;
  line-height: 1.2;

  @media (max-width: 768px) {
    font-size: 32px;
  }
}

.text {
  font-size: 18px !important;
  line-height: 1.8;
  color: #4A5565;
  text-align: justify;

  @media (max-width: 768px) {
    font-size: 16px !important;
  }
}

.imageWrapper {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 560px;
  height: auto;
  border-radius: 24px;
  object-fit: cover;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
}