.trustedBanner {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.09);
  border-radius: var(--border-radius-full);
  border: 1px solid #ffffff33;
  width: fit-content;
  cursor: default;
  user-select: none;
  margin-block-start: 8px;
}

.icon {
  flex-shrink: 0;
}

.text {
  color: white;
  font-size: 0.9rem !important;
  font-weight: 400;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .trustedBanner {
    margin-block-start: 50px;
  }
}
