.landingInfo {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #8200DB 0%, #9810FA 50%, #6E11B0 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 64px 24px 0 24px;
}

.contentContainer {
  width: 100%;
  max-width: 1400px;
  display: flex;
  align-items: center;
  gap: 48px;
}

.leftSection {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rightSection {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingSafeImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
    gap: 32px;
  }

  .rightSection {
    margin-block-end: 32px;
  }

  .leftSection,
  .rightSection {
    width: 100%;
  }
}
