.trustedBanner {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  background: rgba(255, 255, 255, .09);
  border-radius: var(--border-radius-full);
  border: 1px solid #ffffff33;
  width: fit-content;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.icon {
  flex-shrink: 0;
}

.text {
  color: white;
  font-size: 14px !important;
  font-weight: 400;
  white-space: nowrap;
}