@font-face {
  font-family: "Dana";
  src: url("/media/fonts/Dana-fanum-regular.woff2") format("woff2"),
    url("/media/fonts/Dana-fanum-regular.woff") format("woff"),
    url("/media/fonts/Dana-FaNum-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/media/fonts/Dana-fanum-light.woff2") format("woff2"),
    url("/media/fonts/Dana-fanum-light.woff") format("woff"),
    url("/media/fonts/Dana-FaNum-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/media/fonts/Dana-fanum-medium.woff2") format("woff2"),
    url("/media/fonts/Dana-fanum-medium.woff") format("woff"),
    url("/media/fonts/Dana-FaNum-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dana";
  src: url("/media/fonts/Dana-fanum-bold.woff2") format("woff2"),
    url("/media/fonts/Dana-fanum-bold.woff") format("woff"),
    url("/media/fonts/Dana-FaNum-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-color: #ffffff;
  
  /* Material Design Button Colors */
  --color-first: #d4a574; /* Light brown */
  --color-secondary: #8200db; /* Flat purple */
  --color-third: #3498db; /* Flat blue */

  /* Border Radius */
  --border-radius-icon: 14px;
  --border-radius-full: 999px;

  /* Text Colors */
  --color-text-primary: #364153;
  --color-text-secondary: #4a5565;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html[dir="rtl"] {
  direction: rtl;
}

body {
  color: var(--foreground);
  background: var(--light-color);
  font-family: "Dana", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
