@font-face {
  font-family: "Yekan";
  src:
    url("/media/fonts/Yekan.woff2") format("woff2"),
    url("/media/fonts/Yekan.woff") format("woff"),
    url("/media/fonts/Yekan.ttf") format("truetype"),
    url("/media/fonts/Yekan.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-color: #ffffff;

  /* Material Design Button Colors */
  --color-first: #d4a574; /* Light brown */
  --color-secondary: #3E58FF; /* Bold Blue */
  --color-secondary-transparent: #3E58FF88; /* Bold Blue */
  --color-third: #3498db; /* Flat blue */

  --green-gradient: background: linear-gradient(
      135deg,
      #00c950 0%,
      #009966 100%
    );
  --purple-gradient: background: linear-gradient(
      233.31deg,
      #3E58FF 31.19%,
      #536AFB 59.79%,
      #3E58FF 94.73%
    );
  --blue-gradient: background: linear-gradient(135deg, #2b7fff 0%, #0092b8 100%);

  /* Border Radius */
  --border-radius-icon: 14px;
  --border-radius-full: 999px;

  /* Text Colors */
  --color-text-primary: #364153;
  --color-text-secondary: #4a5565;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html[dir="rtl"] {
  direction: rtl;
}

body {
  color: var(--foreground);
  background: var(--light-color);
  font-family: "Yekan", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
