:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-color: #ffffff;

  /* Material Design Button Colors */
  --color-first: #d4a574; /* Light brown */
  --color-secondary: #8200db; /* Flat purple */
  --color-third: #3498db; /* Flat blue */

  /* Border Radius */
  --border-radius-icon: 14px;
  --border-radius-full: 999px;

  /* Text Colors */
  --color-text-primary: #364153;
  --color-text-secondary: #4a5565;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--color-secondary);
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
