.buttonContainer {
  display: flex;
  gap: 12px;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.button {
  min-width: 120px !important;
  height: 40px !important;
  padding: 0 16px 0 4px !important;
  border-color: var(--color-secondary) !important;
  color: var(--color-secondary) !important;
  background-color: white !important;
  border-radius: 8px !important;
  font-size: 14px !important;
  box-shadow:
    0px 8px 10px -6px #0000001a,
    0px 20px 25px -5px #0000001a !important;

  @media (max-width: 768px) {
    width: 100% !important;
  }

  &:hover {
    border-color: var(--light-color) !important;
    background-color: var(--color-secondary) !important;
    color: white !important;
    box-shadow:
      0px 8px 10px -6px #0000001a,
      0px 20px 25px -5px #0000001a !important;

    .iconWrapper svg path {
      stroke: white !important;
    }
  }
}

.iconWrapper {
  display: flex;
  align-items: center;
  margin-inline: 8px;
  transform: rotate(180deg);

  svg path {
    stroke: var(--color-secondary);
    transition: stroke 0.2s ease;
  }
}