.heading {
  display: flex;
  flex-direction: column;
  line-height: 60px;
}

.firstLine {
  font-size: 48px;
  color: white;
  line-height: 60px;
  margin: 0;
}

.secondLine {
  font-size: 48px;
  color: #e9d4ff;
  line-height: 60px;
  margin: 0;
}

